#######
# ALL #
#######

.env
.vscode/
node_modules/
dist/
.turbo
.DS_Store

########
# Docs #
########

docs/build

############
# Frontend #
############

apps/frontend/icon_sample.ico
apps/frontend/logo_sample.png
